# Service user
user _chrony

# NTP servers
{% for server in exorcism_ntp_servers %}
server {{ server }} iburst
{% endfor %}

# Record the rate at which the system clock gains/losses time.
driftfile /var/lib/chrony/drift

# Enable kernel RTC synchronisation.
rtcsync

# In first 3 updates step the system clock instead of slew
# if the adjustment is larger than 10 seconds.
makestep 10 3

bindcmdaddress 127.0.0.1
bindcmdaddress ::1

# Serve time even if not synchronised to any NTP server.
local stratum 10

keyfile /etc/chrony/chrony.keys

# Disable logging of client accesses.
noclientlog

# Send a message to syslog if a clock adjustment is larger than the specified threshold
logchange 0.5
